In [5]:
import pandas as pd
import numpy as np

df_raw = pd.read_csv("/loans_dataset.csv")

df_raw.shape

(10000, 55)

In [11]:
keep_cols = [
    "interest_rate", "verified_income", "debt_to_income",
    "total_credit_utilized", "total_credit_limit",
    "public_record_bankrupt", "loan_purpose", "term",
    "inquiries_last_12m", "issue_month", "annual_income",
    "loan_amount", "grade", "emp_length", "homeownership"
]

df = df_raw[keep_cols].copy()

# rename inquiries_last_12m -> credit_checks
df.rename(columns={"inquiries_last_12m": "credit_checks"}, inplace=True)

df.head(10)

,interest_rate,verified_income,debt_to_income,total_credit_utilized,total_credit_limit,public_record_bankrupt,loan_purpose,term,credit_checks,issue_month,annual_income,loan_amount,grade,emp_length,homeownership
0,14.07,Verified,18.01,38767,70795,0,moving,60,6,Mar-2018,90000.0,28000,C,3.0,MORTGAGE
1,12.61,Not Verified,5.04,4321,28800,1,debt_consolidation,36,1,Feb-2018,40000.0,5000,C,10.0,RENT
2,17.09,Source Verified,21.15,16000,24193,0,other,36,4,Feb-2018,40000.0,2000,D,3.0,RENT
3,6.72,Not Verified,10.16,4997,25400,0,debt_consolidation,36,0,Jan-2018,30000.0,21600,A,1.0,RENT
4,14.07,Verified,57.96,52722,69839,0,credit_card,36,7,Mar-2018,35000.0,23000,C,10.0,RENT
5,6.72,Not Verified,6.46,3898,42100,0,other,36,6,Jan-2018,34000.0,5000,A,NaN,OWN
6,13.59,Source Verified,23.66,18916,291852,0,credit_card,60,1,Jan-2018,35000.0,24000,C,10.0,MORTGAGE
7,11.99,Source Verified,16.19,60805,342336,0,debt_consolidation,60,1,Jan-2018,110000.0,20000,B,10.0,MORTGAGE
8,13.59,Source Verified,36.48,69561,283190,0,home_improvement,36,3,Feb-2018,65000.0,20000,C,10.0,MORTGAGE
9,6.71,Not Verified,18.91,17768,33114,0,credit_card,36,0,Mar-2018,30000.0,6400,A,3.0,RENT

In [12]:
df.shape

(10000, 15)